[submodule "external/pbrt-parser"]
	path = external/pbrt-parser
	url = https://github.com/ingowald/pbrt-parser
[submodule "external/embree"]
	path = external/embree
	url = https://github.com/embree/embree
